html {
	height: 100%;
}

body {
	height: 100%;
	background-color: WhiteSmoke;
}

#sandbox {
	border-style: dashed;
}

/* COMPONENTS */

.component {
	padding: 0px;
	border-top: solid 2px lightgrey;
}

.component .row {
	margin: 0px;
	text-align: center;
	border-left: solid 2px lightgrey;
	border-right: solid 2px lightgrey;
}

.component .col {
	margin: 0px;
	border-bottom: solid 2px lightgrey;
}

.component .componentName {
	height: 40px;
	font-weight: bold;
}

.component .interfaces {
	border: 0;
}

.component .interface {
	border: 0;
}