html {
	height: 100%;
	margin: 0px;
}

body {
	height: 100%;
	background-color: WhiteSmoke;
}

#sandbox {
	border-style: dashed;
}

/* COMPONENTS */

.hostTable {

}

.component thead td {
	height: 40px;
	font-weight: bold;
}

.component td {
	border: solid 2px lightgrey;
}

.component .layer {
	height: 30px;
}